<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listar Vehículos</title>
    {% extends 'base.html' %}
    {% load crispy_forms_tags %}

    
</head>
{% block body %}
    
{% block content %}
<body>
 
    <div class="container mt-3">    
    <h1>Listado de Vehículos</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Serial Carrocería</th>
                <th>Serial Motor</th>
                <th>Categoría</th>
                <th>Precio</th>
                <th>Condicion de precio</th>
            </tr>
        </thead>
        <tbody>
            {% for vehiculo in vehiculos %}
            <tr>
                <td>{{ vehiculo.marca }}</td>
                <td>{{ vehiculo.modelo }}</td>
                <td>{{ vehiculo.serial_carroceria }}</td>
                <td>{{ vehiculo.serial_motor }}</td>
                <td>{{ vehiculo.categoria }}</td>
                <td>{{ vehiculo.precio }}</td>
                <td>
                    {% if vehiculo.precio <= 10000 %}
                        Bajo
                    {% elif vehiculo.precio > 10000 and vehiculo.precio <= 30000 %}
                        Medio
                    {% else %}
                        Alto
                    {% endif %}
                </td>
        
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
{% endblock %}

{% block javascript %}
{% endblock %}
{% endblock %}
</html>